.privacy-policy {
    background-color: #f0f0f0;
    padding: 20px;
    padding-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  .privacy-policy h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .privacy-policy p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(104,104,104);
  }
  .pesonal data
  {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(163, 0, 0, 0.2);
  }
  .privacy-policy h2{
        color: #000000;
        font-size: 24px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
  .privacy-policy p{
        font-size: 16px;
       line-height: 1.5;
       color: rgb(0, 0, 0);
    }
   .production
    {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(163, 0, 0, 0.2);
    }
  .privacy-policy h3{
        color: #000000;
        font-size: 24px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .privacy-policy p{
        font-size: 16px;
       line-height: 1.5;
       color: rgb(0, 0, 0);
    }
   .cookies
    {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(163, 0, 0, 0.2);
    }
  .privacy-policy h4{
        color: #000000;
        font-size: 24px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .privacy-policy p{
        font-size: 16px;
       line-height: 1.5;
       color: rgb(0, 0, 0);
    }
   .InformationDisclosure
    {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(163, 0, 0, 0.2);
    }
  .privacy-policy h5{
        color: #000000;
        font-size: 24px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .privacy-policy p{
        font-size: 16px;
       line-height: 1.5;
       color: rgb(0, 0, 0);
    }
   .ChangesinPolicies
    {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(163, 0, 0, 0.2);
    }
  .privacy-policy h6{
        color: #000000;
        font-size: 24px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
   .privacy-policy p{
        font-size: 16px;
       line-height: 1.5;
       color: rgb(0, 0, 0);
    }