.SignupBorder *{
     padding: 0;
     margin: 0;
     
     display: flex;
     justify-content: center;
     align-items: center;

     text-align: left;
}
.SignupBorder button, input{
     border: none;
     background-color: transparent;
     width: 100%;
     height: 100%;
}
.SignupBorder input{
     text-indent: 2%;
}
.SignupBorder input:focus{
     outline: none;
}

.SignupBorder{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);

     width: 1000px;
     height: 500px;
     border: 2px solid black;
     display: flex;
}

.SignupLogoBox{
     background-image: url('../../Images/Logo/png/logo-no-background.png');
     height: 100%;
     width: 50%;
     background-size: cover;
}

.SignupBox{
     height: 80%;
     width: 46%;
     margin: 5% 2%;
     flex-direction: column;
}

.SignupBoxHeader{
     
}

.SignupBoxForm{
     width: 100%;
     height: 90%;
     flex-direction: column;
}

.SignupBoxInput{
     width: 60%;
     height: 10%;
     margin: 2% 0;
     border: 1px solid rgba(128, 128, 128, 0.233);
     background-color: aliceblue;
     border-radius: 5px;
}
.SignupBoxInput input:focus{
     background-color: white;
}
.SignupBoxInvalidInput{
     border: 1px solid red;
}
.SignupBoxButton{
     justify-content: space-between;
     width: 60%;
     height: 10%;
     margin: 2% 0;
}
.nav-button{
     width: 30%;
     height: 100%;
     justify-content: space-between;
}
.signup-button{
     width: 50%;
     height: 100%;
     border: 1px solid grey;
}
.nav-button button{
     text-align: center;
     width: 45%;
     border-radius: 5px;
     background-color: rgba(0, 119, 255, 0.856);
     font-size: 20px;
     font-weight: 900;
     color: white;
}
.SignupBoxButton button{
     cursor: pointer;
}

.SignupBoxOrLine {
     width: 60%;
     height: 10;
     display: flex;
     align-items: center;
}
   
.SignupBoxOrLine p {
     margin: 0;
     padding: 0 10px;
}

.SignupBoxOrLine hr {
     flex: 1;
     border: none;
     border-bottom: 2px solid black;
}
